<div class="well" style="background-color: #555;color:white;">
    <h2>Calander component</h2>

    <aside class="event-summary">
            <h3>Events</h3>
            <div id="em-calendar-102" class="em-calendar-wrapper"><table class="em-calendar">
<thead>
<tr>
    <td><a class="em-calnav em-calnav-prev" href="/events/?long_events=1&amp;ajaxCalendar=1&amp;mo=6&amp;yr=2019&amp;em_ajax=1" rel="nofollow">&lt;&lt;</a></td>
    <td class="month_name" colspan="5">Jul 2019</td>
    <td><a class="em-calnav em-calnav-next" href="/events/?long_events=1&amp;ajaxCalendar=1&amp;mo=8&amp;yr=2019&amp;em_ajax=1" rel="nofollow">&gt;&gt;</a></td>
</tr>
</thead>
<tbody>
<tr class="days-names">
    <td>M</td><td>T</td><td>W</td><td>T</td><td>F</td><td>S</td><td>S</td>
</tr>
<tr>
                    <td class="eventless">
                                1									</td>
                        <td class="eventless">
                                2									</td>
                        <td class="eventless">
                                3									</td>
                        <td class="eventless">
                                4									</td>
                        <td class="eventless">
                                5									</td>
                        <td class="eventless">
                                6									</td>
                        <td class="eventless">
                                7									</td>
        </tr><tr>				<td class="eventless">
                                8									</td>
                        <td class="eventless">
                                9									</td>
                        <td class="eventless">
                                10									</td>
                        <td class="eventless">
                                11									</td>
                        <td class="eventless">
                                12									</td>
                        <td class="eventless">
                                13									</td>
                        <td class="eventless">
                                14									</td>
        </tr><tr>				<td class="eventless">
                                15									</td>
                        <td class="eventless">
                                16									</td>
                        <td class="eventless">
                                17									</td>
                        <td class="eventless">
                                18									</td>
                        <td class="eventless">
                                19									</td>
                        <td class="eventless">
                                20									</td>
                        <td class="eventless">
                                21									</td>
        </tr><tr>				<td class="eventless">
                                22									</td>
                        <td class="eventless">
                                23									</td>
                        <td class="eventless">
                                24									</td>
                        <td class="eventless">
                                25									</td>
                        <td class="eventless">
                                26									</td>
                        <td class="eventless">
                                27									</td>
                        <td class="eventless">
                                28									</td>
        </tr><tr>				<td class="eventless">
                                29									</td>
                        <td class="eventless">
                                30									</td>
                        <td class="eventless">
                                31									</td>
                        <td class="eventless">
                                1									</td>
                        <td class="eventless-post">
                                2									</td>
                        <td class="eventless-post">
                                3									</td>
                        <td class="eventless-post">
                                4									</td>
                </tr>
</tbody>
</table></div>					</aside>

</div>