<!-- Add the app header section -->
<app-header></app-header>

<div class="container" style="background-color:rgb(181, 226, 228); color:black;">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" [ngClass]="{'active': member_students}" (click)="openMemeber('member_students')"
        id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">Students</a>
      <a class="nav-item nav-link" [ngClass]="{'active': member_coaches}" (click)="openMemeber('member_coaches')"
        id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">Coaches</a>
      <a class="nav-item nav-link disabled" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">Pool Manager</a>
    </div>
  </nav>
  <div><br></div>
</div>

<div *ngIf="member_students">
  <div class="container card">
    <table class="table table-hover">
      <thead>
        <!-- <tr class="filters">
          <th><input type="text" class="form-control" placeholder="#" disabled></th>
          <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
          <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
          <th><input type="text" class="form-control" placeholder="Username" disabled></th>
      </tr> -->
        <tr>
          <th>User Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>School</th>
          <th>Grade</th>
          <th>Student Id</th>
          <th>Date of Admission</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students">
        <tr>
          <td>{{student.userId}}</td>
          <td>{{student.studentFname}}</td>
          <td>{{student.studentLname}}</td>
          <td>{{student.studentSchool}}</td>
          <td>{{student.studentGender}}</td>
          <td>{{student.studentId}}</td>
          <td>{{student.studentDate_of_addmission}}</td>
          <!-- <td><a href="/student" (click)="expression">view</a></td> -->
          <td><button class="btn btn-primary btn-xs" [routerLink]="[ '/student' ]" (click)="viewStudent(student)">View</button>
          </td>
          <!-- <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs"
                data-title="Edit" data-toggle="modal" data-target="#edit"><span
                  class="glyphicon glyphicon-pencil"></span></button></p>
          </td> -->
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs"
                data-title="Delete" data-toggle="modal" data-target="#delete"><span
                  class="glyphicon glyphicon-trash"></span></button></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="member_coaches">
  <div class="container card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>NIC</th>
          <th>Email</th>
          <th>Mobile</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let coach of coaches">
        <tr>
          <td>{{coach.userId}}</td>
          <td>{{coach.coachFname}}</td>
          <td>{{coach.coachLname}}</td>
          <td>{{coach.coachGender}}</td>
          <td>{{coach.coachNIC}}</td>
          <td>{{coach.coachEmail}}</td>
          <td>{{coach.coachCellPhone}}</td>
          <!-- <td><button class="btn btn-primary btn-xs" data-title="VIEW"
              (click)="viewProfile(coach.userId)">View</button></td> -->
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs"
                (click)="viewCoach(coach)"><span class="glyphicon glyphicon-pencil"></span></button></p>
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs"
                data-title="Delete" data-toggle="modal" data-target="#delete"><span
                  class="glyphicon glyphicon-trash"></span></button></p>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Add the app footer section -->
<app-footer></app-footer>