
/* NEW */
.navbar {
  font-family: serif, sans-serif;
  border-radius: unset;
  font-size: 12px !important;
  letter-spacing: 4px;
  opacity: 1;   
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
  text-underline-position: below;
  text-decoration-color: aquamarine;
}
.navbar-default .navbar-toggle {
  border-color: trasparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}