<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-collapse static-top navbar-dark bg-dark">

  <!-- <div class="navbar-header"> -->
  <div class="nav-left navbar-branxd">
    <img width="180px" height="100px" style="  border-radius:6px" class="d-inline-block align-top"
      src="../../../assets/img/logo.jpg">
  </div>
  <!-- </div> --> {{cUser}}
  <div [(ngModel)]="cUser" class="collapse navbar-collapse" id="myNavbar">
    <div class="col-lg-11">
      <ul class="navbar-nav nav-pills nav-left" style="padding: 0px; margin-bottom: 0px" role="tablist">
        <li class="nav-item"> <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-us">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" href="/event">EVENT</a></li>
        <li class="nav-item"><a class="nav-link" href="/member">MEMBERS</a></li>
        <li class="nav-item"><a class="nav-link" href="/help">HELP</a></li>
        <li class="nav-item"><a class="nav-link" href="/sign-up">SIGNUP</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="/">You are logged in as  here</a></li> -->

        <!-- <li *ngIf="!signedin" class="nav-item"><a class="nav-link" href="/sign-up">SIGNUP</a></li>
        <li *ngIf="!signedin" class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li> -->
        <!-- <li *ngIf="signedin" class="nav-item"><a class="nav-link" href="/"></a>You are logged in as {{cUser}}</li> -->
        <!-- <li *ngIf="signedin" class="nav-item"><a class="nav-link" href="/home" onclick="logout()">Logout</a></li> -->


      </ul>
    </div>
    <div *ngIf="signedin" class="col-lg-1">
      <button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!signedin" class="col-lg-1">
      <a class="nav-link" href="/">You are logged in as {{cUser}}</a>
    </div>

  </div>
</nav>