<div id="background">
  <!-- Add the app header section -->
  <app-header></app-header>

  <html>

<head>
    <title>About Us</title>
</head>

<body>
    <div class="card body">
        <h2>Welcome to Aqua Flash Swimming Club</h2>
        <p>The Aqua Flash swimming club was declared open by the Hon. D.M.Jayaratne (Prime Minister of Ceylon) on the 30th of October 2014. Rainbow Aquatics is a swimming club/squad which is situated in Colombo 7. It is a squad where a young bunch
            of swimmers meet on a daily basis to practice and have fun at the same time. The swimming pool is used by both students and outsiders.
        </p>
        <h2>Vision & Mission</h2>
        <h3>Vision</h3>
        <pre>"To provide a wholesome swimming environment - where the JOY OF PARTICIPATION is evident."</pre>

        <h3>Mission</h3>
        <pre>"Train swimmers to represent their respective schools and also the country and most importantly to build their character and mold their future."</pre>

        <h2>Facilities</h2>
        <h3>Swimming Pool</h3>
        <img src="../../../assets/images/swim.jpg" alt="Swimming_pool">
        <p>AQUA is blessed to have two 25m pool with six lanes in each pool and have baby pool for under 10 childern.
        </p>

        <h2>Swimming Coaches</h2>
        <h4>01. Mr. Dammika Munasingha</h4>
        <h5>Head Coach</h5>
        <p>Presently the Head coach of Aqua Flash swimming club. Started his swimming career in 1999 under Mr. Ranjith
            Perera and captained the Royal college swimming team in 2007. He started coaching in 2012 at college and
            joined Aqua flash swimming club in November 2015. He completed his ASCA Level 3 Certification on 2013 and
            presently the Head coach of Mathugama C.W.W. Kannangara Central College and coach of Musaeus College.</p>
        <p>Contact Number – 0779997880</p>
        <p>Email – dammikakccswimming@gmail.com</p>

        <h4>02. Mr. Harsha Kumara</h4>
        <p>Started his swimming career in 2008 under Mr. Ruwan Manawadu and captained the St. Joseph’s College swimming
            team in 2009. He started coaching in 2009 at college and joined Aqua flash swimming club in March 2011.
            Completed ASCA Level 2 – International in 2012 and followed a coaching course for swimming conducted by the
            Sports Ministry of Sri Lanka. He is an undergraduate – BBA International Business/Management (double) at the
            Northwood University. He is currently working as the coach in charge Junior at Aqua flash swimming club.
            Currently the Assistant Swimming Coach of the Viharamahadevi Balika Vidyalaya.</p>
        <p>Contact Number – 0094 776 371 548</p>
        <p>Email – harshkumara@yahoo.com</p>

        <h4>02. Ms. Lakshika Madhavi</h4>
        <p>She was a member of the Viharamahadevi Balika Vidyalaya Swim team since 2006 till 2015 and captained the
            Viharamahadevi Balika Vidyalaya Swim team in 2015. Started coaching in 2016 March at Aqua Flash swimming
            club. Presently an Undergraduate - LLB (Bachelor Laws) at the University of London. Currently coaching the
            Junior Squad and is responsible for the girls practices.</p>
        <p>Contact Number – 0094 779 629 045</p>
        <p>Email – lakshikamadhvi@gmail.com</p>

    </div>
</body>

</html>

  <!-- Add the app footer section -->
  <app-footer></app-footer>
</div>