<!-- Add the app header section -->




<div id="background">
		<app-header></app-header>
		<div>
			<div class="row">
				<div class="col-lg-2">
					<div class="container-fluid ">
						<div class="">
							<button type="button" class="btn btn-primary" style="background-color: green"
							[routerLink]="[ '/create-event' ]"><span class="glyphicon glyphicon-plus"></span>
								Create Event</button> </div>


								<td><button class="btn btn-primary btn-xs" [routerLink]="[ '/coach' ]"
									(click)="viewCoach(coach)">View</button>
								</td>

								

						<div class="card">
							<div class="card-header">
								<h3>Past Events</h3>
							</div>
							<div *ngFor="let event of pastEvents">
								<div class="card-body" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<div class="col-lg-3">
										<h5>{{getDateTime(event.eventDate)}}</h5>
									</div>
									<div class="col-lg-9">
										<h5>{{event.eventName}}</h5>
									</div>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
									data-parent="#accordion">
									<div class="card-body">
										{{event.eventDescription}}
									</div>
	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="container-fluid">
						<div class="card">
							<div class="card-header">
	
								<h1>Today Events</h1>
							</div>
							<div *ngFor="let event of todayEvents">
	
								<div class="row">
									<div class="card-body">
	
										<div class="col-lg-3">
											<h3>{{getDateTime(event.eventDate)}}</h3>
										</div>
										<div class="col-lg-6">
											<h3>{{event.eventName}}</h3>
	
											<p>{{event.eventDescription}}</p>
										</div>
										<div class="col-lg-3">
											<h3></h3>
											{{event.eventStart_time}} to
											{{event.eventEnd_time}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col">
					<div class="container-fluid">
						<div class="card">
							<div class="card-header">
								<h2>Upcomming Events</h2>
							</div>
							<div *ngFor="let event of upcomingEvents">
								<div class="card-body">
									<div class="col-lg-3">
										<h5>{{getDateTime(event.eventDate)}}</h5>
									</div>
									<div class="col-lg-9">
										<h5>{{event.eventName}}</h5>
									</div>
								</div>
	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<app-footer></app-footer>