div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 10px;
    text-align: center;
  }
  
  .container:after,.container:before{
  content:"";
  display:table;
  clear:both
  }
  .container{
      margin-top:16px;
      margin-bottom:16px;
      font-size:15px;
  }
  .modal{
      z-index:3;
      display:none;
      padding-top:100px;
      position:fixed;
      left:0;
      top:0;
      width:100%;
      height:100%;
      overflow:auto;
      background-color:rgb(0,0,0);
      background-color:rgba(0,0,0,0.4)
      
  }
  .modal-content{
      margin:auto;
      background-color:#fff;
      position:relative;
      padding:0;
      outline:0;
      width:600px
  }
  @media (max-width:600px){
      .modal-content{
          margin:0 10px;
          width:auto!important
      }
      .modal{
          padding-top:30px
      }
  }
  @media (max-width:768px){
      .modal-content{
          width:500px
      }
      .modal{
          padding-top:50px
      }
  }
  @media (min-width:993px){
      .modal-content{
          width:900px
      }
  }
  .teal,.hover-teal:hover{
      color:#fff!important;
      background-color:#009688!important
  }
  
  .button{
      border:none;
      display:inline-block;
      padding:8px 16px;
      vertical-align:middle;
      overflow:hidden;
      text-decoration:none;
      color:inherit;
      background-color:blue;
      text-align:center;
      cursor:pointer;
      white-space:nowrap;
      font-size:15px;
  }
  .button{
      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none
  }

  .button:disabled{
      cursor:not-allowed;
      opacity:0.3
  }
  .disabled *,:disabled *{
      pointer-events:none
  }
  .button:hover{
      color:#000!important;
      background-color:#ccc!important
  }
  .display-topright{
      position:absolute;
      right:0;
      top:0
  }
  
  .btn {
      padding: 20px 40px;
      background-color: #333;
      color: #f1f1f1;
      border: none;
      transition: .2s;
      margin: 8px 0;
      cursor: pointer;
      width: 100%;
      font-size:20px;
      float:center;
    }
    .btn:hover, .btn:focus {
          border: 1px solid #333;
          background-color: #fff;
          color: #000;
          opacity: 0.8;
    }

    /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
