
<!-- Add the app header section -->
<app-header></app-header>


<body scrollbar="yes">

<div class="container">
  <button class="btn" data-toggle="modal" data-target="#myModal" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Past</button>

  <div id="id01" class="modal">
    <div class="modal-content">
      <header class="container teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="button display-topright">&times;</span>
        <h2>Past Events</h2>
      </header>
      <div class="container">
        
	<div class="gallery">
	  <a target="_blank" href="img_5terre.jpg">
		<img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_forest.jpg">
		<img src="img_forest.jpg" alt="Forest" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_lights.jpg">
		<img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_mountains.jpg">
		<img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>
		  </div>
		  <footer class="container teal">
			<p>Modal Footer</p>
		  </footer>
		</div>
	</div>
	
	<button class="btn" data-toggle="modal" data-target="#myModal" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Present</button>

  <div id="id02" class="modal">
    <div class="modal-content">
      <header class="container teal"> 
        <span onclick="document.getElementById('id02').style.display='none'" 
        class="button display-topright">&times;</span>
        <h2>Present Events</h2>
      </header>
      <div class="container">
        
	<div class="gallery">
	  <a target="_blank" href="img_5terre.jpg">
		<img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_forest.jpg">
		<img src="img_forest.jpg" alt="Forest" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>
	
	<div class="gallery">
	  <a target="_blank" href="img_forest.jpg">
		<img src="img_forest.jpg" alt="Forest" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>
	

	<div class="gallery">
	  <a target="_blank" href="img_lights.jpg">
		<img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_mountains.jpg">
		<img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>
		  </div>
		  <footer class="container teal">
			<p>Modal Footer</p>
		  </footer>
		</div>
	</div>
	
	<button class="btn" data-toggle="modal" data-target="#myModal" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Upcoming</button>

  <div id="id03" class="modal">
    <div class="modal-content">
      <header class="container teal"> 
        <span onclick="document.getElementById('id03').style.display='none'" 
        class="button display-topright">&times;</span>
        <h2>Upcoming Events</h2>
      </header>
      <div class="container">
        
	<div class="gallery">
	  <a target="_blank" href="img_5terre.jpg">
		<img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_forest.jpg">
		<img src="img_forest.jpg" alt="Forest" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_lights.jpg">
		<img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>

	<div class="gallery">
	  <a target="_blank" href="img_mountains.jpg">
		<img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
	  </a>
	  <div class="desc">venue: sugathadasa stadium</div>
	  <div class="desc">Date : 15 August 2019</div>
	  <div class="desc">Time: 9 AM onwards</div>
	  <div class="desc">Organizer: Sports club,Minuwangoda</div>
	</div>
		  </div>
		  <footer class="container teal">
			<p>Modal Footer</p>
		  </footer>
		</div>
	</div>
</div>
            
<!-- Add the app footer section -->
<app-footer></app-footer>