<div class="well" style="background-color: white;color:black;">
    <h2>TODAY SCHEDULE</h2>
    <div class="row">
        <div class="col">Time</div>
        <div class="col">Event</div>
    </div>
    <div class="row">
        <div class="col">06 : 00 - 07 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">07 : 00 - 08 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">08 : 00 - 09 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">09: 00 - 10 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">10 : 00 - 11 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">11 : 00 - 12 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">12 : 00 - 13 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">14 : 00 - 15 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">15 : 00 - 16 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">16 : 00 - 17 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">17 : 00 - 18 :00</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">18 : 00 - 19 :00</div>
        <div class="col"></div>
    </div>
</div>